 /* untuk nabvar */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to left, #E6DADA 23%, #274046 95%);
    
  }   
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
  }
  
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
  }
  
  .navbar .logo img {
    width: 50px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .navbar .name {
    margin-left: -350px;
    color: #fff;
  }
  
  .navbar .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
  }
  
  .navbar .links a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    transition: 0.2s ease;
  }
  
  .navbar .links a:hover {
    color: #274046  ;
  }
  
  .navbar .buttons a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 15px 0;
    transition: 0.2s ease;
  }
  
  .navbar .buttons a:not(:last-child) {
    margin-right: 30px;
  }
  
 
  
  .navbar .buttons .logout {
    border: 1px solid #274046;
    padding: 10px 20px;
    border-radius: 0.375rem;
    text-align: center;
    transition: 0.2s ease;
    color: #274046;
  }
  
  .navbar .buttons .logout:hover {
    background-color: #274046;
    color: #fff;
  }
  
  
  
  .dropdown {
      position: relative;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 120px;
      z-index: 1;
      list-style-type: none;
      background-color: rgb(148, 148, 148);
    }
    
    .dropdown-content li {
      padding: 10px;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  

    /* baca text */

    .wrapper {
      width: 420px;
      background: transparent;
      border: 2px solid rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(20px);
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      color: #fff;
      border-radius: 10px;
      padding: 30px 40px;
      margin-left: 400px;

  }
  .wrapper h1 {
      font-size: 36px;
      text-align: center;
      color: #ffffff;
  }
  
  .wrapper .input-box {
      width: 100%;
      height: 50px;
      margin: 30px 0;
  }
  
  .input-box input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid rgba(0, 0, 0, 0.2);   
      border-radius: 40px;
      font-size: 16px;
      color: #ffffff;
      padding: 20px 45px 20px 20px;

  }

  .input-box textarea {
      width: 100%;
      height: 100px;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid rgba(0, 0, 0, 0.2);   
      border-radius: 40px;
      font-size: 16px;
      color: #ffffff;
      padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
      color: #ffffff;
  }
  .input-box textarea::placeholder {
      color: #ffffff;
  }
  
  .wrapper .btn{
    width: 100%;
    height: 45px;
    margin-top: 60px;
  
}
 .btn1{
    width: 165px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 4opx;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  
}

   
 